<!DOCTYPE html>
<html>
<head>
	<title>B'tax</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="">
	<link rel="stylesheet" type="text/css" href="{{ asset('user_assets/css/styles-ind.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('user_assets/css/signup.css') }}">
</head>
<style type="text/css">
	form
	{
		width: 100%;
		height: auto;
	}
	#error_messsage
	{
		color: red;
		text-align: center;
	}
</style>


<body>
	<!-----------------------------Header------------------------------------>
	<header class="topbar-c">
		<div class="nav-c">
			<!-----------------------------Header Left------------------------------------>
			<div class="nav-c-left">
				<div class="logo-place">
					<a href="{{ path('book_homepage') }}"><img src="{{ asset('user_assets/img/logo-f.png') }}" class="logo-place-img"></a>
				</div>
			</div>
			<!-----------------------------End Header Left------------------------------------>


			<!-----------------------------Header Right------------------------------------>
			<div class="nav-c-right">
				<div class="nav-c-right-space">
					<ul>
						<li><a href="{{ path('fos_user_security_login') }}"><button class="stl-btn-log">Connexion</button></a></li>
						<li><a href="{{ path('fos_user_registration_register') }}"><button class="stl-btn-log">Inscription</button></a></li>
					</ul>
				</div>
			</div>
			<!-----------------------------End Header Right------------------------------------>

		</div>
	</header>
	<!-----------------------------End Header------------------------------------>
	<!-----------------------------Body 1------------------------------------>

	<div class="body1">
		<div class="b-body">

			<div class="form-login">
				<form action="{{ path('utilisateur_creat_user') }}" method="POST">
				{% for message in app.session.flashbag.get('error') %} 
    			<div class="form-login-body">
					<div class="group-input-login">
						<span class="login-label" id="error_messsage">{{ message }}</span><br>
					</div>
				</div>
				{% endfor %}
				<div class="form-login-body">
					<div class="group-input-login">
						<span class="login-label">Nom </span><br>
						<input class="login-input" type="text" name="nom" required="">
					</div>
				</div>
				<div class="form-login-body">
					<div class="group-input-login">
						<span class="login-label">Adresse e-mail </span><br>
						<input class="login-input" type="text" name="email" required="">
					</div>
				</div>
				<div class="form-login-body">
					<div class="group-input-login">
						<span class="login-label">Préférence de langue </span><br>
						<select name="langue" class="login-input" required>
							<option value="fr_FR">Français</option>
							<option value="en_EN">Anglais</option>
							<option value="mg_MG">Malagasy</option>
						</select>
					</div>
				</div>
				<div class="form-login-body">
					<div class="group-input-login">
						<span class="login-label">Mot de passe </span><br>
						<input class="login-input" type="password" name="password" required="">
					</div>
				</div>
				<div class="form-login-body">
					<div class="group-input-login">
						<input class="login-button" type="submit" name="" value="S'inscrire">
					</div>
				</div>
				<div class="form-login-footer">
					Deja membre ? <a href="#">Connectez-vous</a>
				</div>
				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="js/jquery-3.4.1.min.js') }}"></script>
	<script type="text/javascript" src="js/script.js') }}"></script>
</html>